In [23]:
import pandas as pd
import numpy as np

from scipy.stats import pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests
from tqdm import tqdm_notebook as tqdm
from tqdm.notebook import tqdm_notebook as tqdm
from progress.bar import Bar

In [2]:
sales = pd.read_csv("sales.tsv", header=0, sep='\t')
products = pd.read_csv("products.tsv", header=0, sep="\t")
products.head()

,product_class_id,product_id,brand_name,product_name,SKU,SRP,gross_weight,net_weight,recyclable_package,low_fat,units_per_case,cases_per_pallet,shelf_width,shelf_height,shelf_depth
0,30,1,Washington,Washington Berry Juice,90748583674,2.85,8.39,6.39,False,False,30,14,16.9,12.60,7.40
1,52,2,Washington,Washington Mango Drink,96516502499,0.74,7.42,4.42,False,True,18,8,13.4,3.71,22.60
2,52,3,Washington,Washington Strawberry Drink,58427771925,0.83,13.10,11.10,True,True,17,13,14.4,11.00,7.77
3,19,4,Washington,Washington Cream Soda,64412155747,3.64,10.60,9.60,True,False,26,10,22.9,18.90,7.93
4,19,5,Washington,Washington Diet Soda,85561191439,2.19,6.66,4.65,True,False,7,10,20.7,21.90,19.20

In [3]:
sales = sales.merge(products[['product_id', 'product_name']], on=['product_id'], how='inner')

In [4]:
sales.head()

   product_id  store_id        date  sales           product_name
0           4         6  1997-01-01      4  Washington Cream Soda
1           4         7  1997-01-05      3  Washington Cream Soda
2           4         6  1997-01-06      2  Washington Cream Soda
3           4        17  1997-01-11      2  Washington Cream Soda
4           4        24  1997-01-11      2  Washington Cream Soda

In [5]:
#   Корреляция Пирсона
sparse_sales = pd.pivot_table(sales, values='sales', index=['date', 'store_id'], columns=['product_name'], fill_value=0, aggfunc=lambda x: x)
sparse_sales.head()

product_name         ADJ Rosy Sunglasses  Akron City Map  \
date       store_id
1997-01-01 6                           0               0
           14                          0               0
1997-01-02 11                          0               0
           23                          0               0
1997-01-03 7                           0               0

product_name         Akron Eyeglass Screwdriver  American Beef Bologna  \
date       store_id
1997-01-01 6                                  0                      0
           14                                 0                      0
1997-01-02 11                                 0                      0
           23                                 0                      0
1997-01-03 7                                  0                      0

product_name         American Chicken Hot Dogs  American Cole Slaw  \
date       store_id
1997-01-01 6                                 0                   0
           14                                0                   0
1997-01-02 11                                0                   0
           23                                0                   0
1997-01-03 7                                 0                   0

product_name         American Corned Beef  American Foot-Long Hot Dogs  \
date       store_id
1997-01-01 6                            0                            0
           14                           0                            0
1997-01-02 11                           0                            0
           23                           0                            0
1997-01-03 7                            0                            0

product_name         American Low Fat Bologna  American Low Fat Cole Slaw  \
date       store_id
1997-01-01 6                                0                           0
           14                               0                           0
1997-01-02 11                               0                           0
           23                               0                           0
1997-01-03 7                                0                           0

product_name         ...  Washington Apple Juice  Washington Berry Juice  \
date       store_id  ...
1997-01-01 6         ...                       0                       0
           14        ...                       0                       0
1997-01-02 11        ...                       0                       0
           23        ...                       0                       0
1997-01-03 7         ...                       0                       4

product_name         Washington Cola  Washington Cranberry Juice  \
date       store_id
1997-01-01 6                       0                           0
           14                      0                           0
1997-01-02 11                      0                           0
           23                      0                           0
1997-01-03 7                       0                           0

product_name         Washington Cream Soda  Washington Diet Cola  \
date       store_id
1997-01-01 6                             4                     0
           14                            0                     0
1997-01-02 11                            0                     0
           23                            0                     0
1997-01-03 7                             0                     0

product_name         Washington Diet Soda  Washington Mango Drink  \
date       store_id
1997-01-01 6                            0                       0
           14                           0                       0
1997-01-02 11                           0                       0
           23                           0                       0
1997-01-03 7                            0                       0

product_name         Washington Orange Juice  Washington Strawberry Drink
date       store_id
1997-01-01 6                               0                            0
           14                              0                            0
1997-01-02 11                              0                            0
           23                              0                            0
1997-01-03 7                               0                            0

[5 rows x 1559 columns]

In [26]:
%%time
corr_data = []
for i, lhs_column in tqdm(enumerate(sparse_sales.columns), total=sparse_sales.shape[1]):
    for j, rhs_columns in enumerate(sparse_sales.columns):
        if i>=j:
            continue
        corr, p = pearsonr(sparse_sales[lhs_column], sparse_sales[rhs_columns])
        corr_data.append([lhs_column, rhs_columns, corr, p])
#print(corr_data)

  0%|          | 0/1559 [00:00<?, ?it/s]

CPU times: user 2min 29s, sys: 2.31 s, total: 2min 31s
Wall time: 2min 47s

In [29]:
corr_data = pd.DataFrame(corr_data, columns=['product_A', 'product_B', 'corr', 'p'])
corr_data.head()

             product_A                   product_B      corr         p
0  ADJ Rosy Sunglasses              Akron City Map  0.076608  0.032414
1  ADJ Rosy Sunglasses  Akron Eyeglass Screwdriver -0.006581  0.854396
2  ADJ Rosy Sunglasses       American Beef Bologna  0.038685  0.280546
3  ADJ Rosy Sunglasses   American Chicken Hot Dogs  0.041105  0.251529
4  ADJ Rosy Sunglasses          American Cole Slaw -0.045887  0.200484

In [33]:
(corr_data.p < .05).value_counts()

False    982453
True     232008
Name: p, dtype: int64

### Поправка на множественную гипотезу

In [34]:
#   Поправка Холма
reject, p_corrected, a1, a2 = multipletests(corr_data.p, alpha=.05, method="holm")

In [36]:
corr_data["p_corrected"] = p_corrected
corr_data["reject"] = reject
corr_data.head()

,product_A,product_B,corr,p,p_corrected,reject
0,ADJ Rosy Sunglasses,Akron City Map,0.076608,0.032414,1.0,False
1,ADJ Rosy Sunglasses,Akron Eyeglass Screwdriver,-0.006581,0.854396,1.0,False
2,ADJ Rosy Sunglasses,American Beef Bologna,0.038685,0.280546,1.0,False
3,ADJ Rosy Sunglasses,American Chicken Hot Dogs,0.041105,0.251529,1.0,False
4,ADJ Rosy Sunglasses,American Cole Slaw,-0.045887,0.200484,1.0,False

In [39]:
corr_data.reject.value_counts()

False    1212733
True        1728
Name: reject, dtype: int64

In [42]:
corr_data[corr_data['reject'] == True].sort_values(by='corr', ascending=False).head()

,product_A,product_B,corr,p,p_corrected,reject
1063670,Just Right Vegetable Soup,Plato French Roast Coffee,0.340598,1.226033e-22,1.488970e-16,True
885574,Great Muffins,Nationeel Grape Fruit Roll,0.322176,2.688803e-20,3.265443e-14,True
473067,Club Low Fat Cottage Cheese,Skinner Strawberry Drink,0.306701,1.883995e-18,2.288034e-12,True
1181001,Robust Monthly Home Magazine,Tri-State Lemons,0.303269,4.674973e-18,5.677558e-12,True
1160248,Pleasant Regular Ramen Soup,Shady Lake Ravioli,0.298502,1.619119e-17,1.966350e-11,True

In [43]:
#   Бенджамини-Хохберга
reject, p_corrected, a1, a2 = multipletests(corr_data.p, alpha=.05, method="fdr_bh")

In [44]:
corr_data["p_corrected"] = p_corrected
corr_data["reject"] = reject
corr_data.head()

,product_A,product_B,corr,p,p_corrected,reject
0,ADJ Rosy Sunglasses,Akron City Map,0.076608,0.032414,0.203716,False
1,ADJ Rosy Sunglasses,Akron Eyeglass Screwdriver,-0.006581,0.854396,0.956078,False
2,ADJ Rosy Sunglasses,American Beef Bologna,0.038685,0.280546,0.630699,False
3,ADJ Rosy Sunglasses,American Chicken Hot Dogs,0.041105,0.251529,0.600790,False
4,ADJ Rosy Sunglasses,American Cole Slaw,-0.045887,0.200484,0.541916,False

In [45]:
corr_data.reject.value_counts()

False    1138407
True       76054
Name: reject, dtype: int64

In [46]:
corr_data[corr_data['reject'] == True].sort_values(by='corr', ascending=False).head()

,product_A,product_B,corr,p,p_corrected,reject
1063670,Just Right Vegetable Soup,Plato French Roast Coffee,0.340598,1.226033e-22,1.488970e-16,True
885574,Great Muffins,Nationeel Grape Fruit Roll,0.322176,2.688803e-20,1.632723e-14,True
473067,Club Low Fat Cottage Cheese,Skinner Strawberry Drink,0.306701,1.883995e-18,7.626793e-13,True
1181001,Robust Monthly Home Magazine,Tri-State Lemons,0.303269,4.674973e-18,1.419393e-12,True
1160248,Pleasant Regular Ramen Soup,Shady Lake Ravioli,0.298502,1.619119e-17,3.932713e-12,True